.wrap {
    perspective: 800px;
    perspective-origin: 50% 70px;
    height: 70px;
}
.cube {
    position: relative;
    width: 100%;
    height: 70px;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.cube__face {
    position: absolute;
    border: 2px solid #343a40;
    font-size: 30px;
    font-weight: bold;
    color: #dc3545;
    background-color: #f8f9fa;
    text-align: center;
    vertical-align: middle;
    line-height: 70px;
    border-radius: 5px;

}

.cube div {
    position: absolute;
    width: 100%;

    height: 70px;
}
.back {
    transform: translateZ(-35px) rotateX(180deg);

}

.top {
    transform: rotateX(90deg) translateY(-35px);
    transform-origin: top center;

}
.bottom {
    transform: rotateX(-90deg) translateY(35px);
    transform-origin: bottom center;

}
.front {
    transform: translateZ(35px) rotateY(0deg);

}

@keyframes spin {
    from { transform: rotateX(0); }
    to { transform: rotateX(-90deg); }
}

.cube.show-front  { transform: translateZ( -35px) rotateX(   0deg); }
.cube.show-back   { transform: translateZ( -35px) rotateX(180deg); }
.cube.show-top    { transform: translateZ( -35px) rotateX( 90deg); }
.cube.show-bottom { transform: translateZ( -35px) rotateX(  270deg); }


.cube-wrap.vertical .top {
    transform: rotateX(-270deg) translateY(-35px);
}

.cube-wrap.vertical .back {
    transform: translateZ(-35px) rotateX(180deg);
}

.cube-wrap.vertical .bottom {
    transform: rotateX(-90deg) translateY(35px);
}
.react-grid-layout {
    position: relative;
    transition: height 200ms ease;
}
.react-grid-item {
    transition: all 200ms ease;
    transition-property: left, top;
}
.react-grid-item.cssTransforms {
    transition-property: transform;
}
.react-grid-item.resizing {
    z-index: 1;
    will-change: width, height;
}

.react-grid-item.react-draggable-dragging {
    transition: none;
    z-index: 3;
    will-change: transform;
}

.react-grid-item.react-grid-placeholder {
    background: red;
    opacity: 0.2;
    transition-duration: 100ms;
    z-index: 2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.react-grid-item > .react-resizable-handle {
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: 0;
    right: 0;
    background: url("image.png");
    background-position: bottom right;
    padding: 0 3px 3px 0;
    background-repeat: no-repeat;
    background-origin: content-box;
    box-sizing: border-box;
    cursor: se-resize;
}



